<!DOCTYPE html>
<html lang="en" ng-app='app'>
  <head>
    <meta charset="UTF-8">
    <title>ToDo - Angular</title>
    <link rel="stylesheet" href="styles.css">
    <script src='angular.js' type='text/javascript'></script>
    <script src='scripts.js' type='text/javascript'></script>
  </head>
  <body>
    <div ng-controller='todosController'>

      Enter Text and Hit Enter

      <form ng-submit="submit()">
        <input type="text" ng-model="text" name="text">
      </form>

      <h3>To Do:</h3>
      <ul>
        <li ng-repeat="todo in todos track by $index">
          <input type="checkbox"
           ng-model="todo.value"
           ng-change="selectEntity(todo)"
            name="selection">
          {{ todo.task }}
          <span ng-click="destroyTask(todo)">
            <img src="http://png-2.findicons.com/files/icons/2015/24x24_free_application/24/erase.png" alt="">
          </span>
        </li>
      </ul>
    </div>
  </body>
</html>